<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-data-table
        :headers="headers"
        :items="freelancers"
        hide-actions
        class="elevation-1"
        ma-0
      >
        <tr
          slot="items"
          slot-scope="props"
          :class="props.item._depth<=0?'group-top':''"
          >
          <template v-if="props.item._depth<=0">
            <td class="name">
              <h3>{{ props.item.name }}</h3>
              <router-link
                :to="{
                  name: 'Freelancer',
                  params: {
                    id: props.item.id || '-',
                    type: 'freelancer'
                  }
                }"
                >
                details
              </router-link>
            </td>
            <td>{{ props.item.email }}</td>
            <td>
              <friendlyDate
                :datetime="props.item.updatedAt"
                />
            </td>
          </template>
          <template v-else>
            <td/><td/><td/>
          </template>
          <td>
            <qualification
              v-if="props.item.qualificationId"
              :qId="props.item.qualificationId"
              :level="props.item.claimed"
              />
            <span
              v-else
              >
              none
            </span>
          </td>
          <td>
            <qualification
              v-if="props.item.confirmed!==undefined"
              :level="props.item.confirmed"
              />
          </td>
        </tr>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
  import utils from '../utils'
  import Qualification from './Qualification'
  import FriendlyDate from './FriendlyDate'

  export default {
    name: 'freelancer-browser',
    components: {
      Qualification,
      FriendlyDate,
    },
    data () {
      return {
        // data structure for table
        structure: {
          id: null,
          name: null,
          email: null,
          updatedAt: null,
          qualifications: {
            qualificationId: 'id',
            claimed: null,
            confirmed: null,
          }
        },
        headers: [
          {
            text: 'Name',
            value: 'name'
          },
          {
            text: 'Email',
            value: 'email'
          },
          {
            text: 'Updated',
            value: 'updatedAt'
          },
          {
            text: 'Qualifications',
            value: 'qualifications'
          },
          {
            text: 'Confirmed',
            value: 'confirmed'
          },
        ],
      }
    },
    computed: {
      freelancers () {
        const freelancers = this.$store.getters['freelancer/list']

        if (freelancers) {
          // convert to subbed
          let expandedItems =
            utils.convertToSubbedRows(freelancers, this.structure)

          // get depthKeys
          const depthKeys = utils.structureToDepthKeys(this.structure)

          // explode
          expandedItems =
            utils.explodeCompoundRows(expandedItems, depthKeys)

          // TODO if sorting and/or filtering, do here

          // then add depths
          expandedItems =
            utils.setRowDepths(expandedItems, depthKeys)
          return expandedItems
        }
        return []
      }
    },
    created () {
      // update store selection
      this.$store.dispatch('setSelection', {
        id: null,
        type: 'freelancer'
      })
      // request data
      this.$socket.emit(
        'fetchData',
        {
          request: 'freelancerInfos',
          ids: null
        }
      )
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
