<template>
  <div>
    <div class="section">
      <item-name
        routeName="Freelancer Browser"
        type="freelancer"
        :itemId="id"
        :name="details.name"
        editable="false"
        />
    </div>
    <div class="section">
      <div class="section-title">Basic info</div>
      <span class="ml-4">
        <v-icon color="primary">email</v-icon>
        {{ details.email }}
      </span>
      <span class="ml-4">
        <v-icon color="primary">phone</v-icon>
        {{ details.phone }}
      </span>
      <span class="ml-4">
        <v-icon color="primary">location_on</v-icon>
        {{ details.domicile }}
      </span>
    </div>
    <div class="section">
      <div class="section-title">Qualifications</div>
      <v-data-table
        :headers="headers"
        :items="qualifications"
        hide-actions
        class="elevation-1"
      >
        <tr slot="items" slot-scope="props">
          <td>{{ props.item.category }}</td>
          <td>
            <qualification
              :qId="props.item.id"
              />
          </td>
          <td>
            <qualification
              :level="0"
              :claimed="props.item.claimed===0"
              isInline="true"
              />
            <qualification
              :level="1"
              :claimed="props.item.claimed===1"
              isInline="true"
              />
            <qualification
              :level="2"
              :claimed="props.item.claimed===2"
              isInline="true"
              />
            {{ props.item.confirmed }}
          </td>
          <td>
            <friendlyDate
              :datetime="props.item.lastCheckedAt"
              />
          </td>
          <td>
            {{ props.item.supportRequest }}
          </td>
        </tr>
      </v-data-table>
    </div>
    <div class="section">
      <div class="section-title">Online Portfolio</div>
      <div class="portfolio-list ml-4">
        <v-list class="portfolio-list">
          <v-list-tile
            v-for="(portfolio, i) in details.onlinePortfolios" :key="i"
            >
            <img :src="imageUrls[portfolio.type]"/>
            <span class="url ml-4">{{ portfolio.url }}</span>
            <friendlyDate
              :datetime="portfolio.updatedAt"
               class="ml-5"
              />
          </v-list-tile>
        </v-list>
      </div>
    </div>
    <div class="section">
      <div class="section-title">Offline Portfolio</div>
      <div class="portfolio-list ml-4">
        <v-list class="portfolio-list">
          <v-list-tile
            v-for="(portfolio, i) in details.offlinePortfolios" :key="i"
            >
            <img :src="imageUrls[portfolio.type]"/>
            <span class="url ml-4">{{ portfolio.url }}</span>
            <friendlyDate
              :datetime="portfolio.updatedAt"
               class="ml-5"
              />
          </v-list-tile>
        </v-list>
      </div>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import utils from '@/utils'
  import ItemName from '@/components/ItemName'
  import Qualification from './Qualification'
  import FriendlyDate from './FriendlyDate'

  export default {
    name: 'freelancer',
    props: [
      'id'
    ],
    components: {
      ItemName,
      Qualification,
      FriendlyDate,
    },
    data () {
      return {
        headers: [
          {
            text: 'Category',
            value: 'category'
          },
          {
            text: 'Qualification',
            value: 'id'
          },
          {
            text: 'Level & Confirmation',
            value: 'level'
          },
          {
            text: 'Last Checked',
            value: 'lastCheckedAt'
          },
          {
            text: 'Support Request',
            value: 'supportRequest'
          },
        ],
        imageUrls: {
          custom: require('@/assets/link-icons/custom.png'),
          doc: require('@/assets/link-icons/doc.png'),
          github: require('@/assets/link-icons/github.png'),
          gitlab: require('@/assets/link-icons/gitlab.png'),
          linkedin: require('@/assets/link-icons/linkedin.png'),
          pdf: require('@/assets/link-icons/pdf.png'),
        }
      }
    },
    computed: {
      details () {
        const details =
          _.cloneDeep(
            this.$store.getters['freelancer/selected']
          )
        if (details) {
          // split portfolios
          details.onlinePortfolios = []
          details.offlinePortfolios = []
          _.forEach(details.portfolios, portfolio => {
            if (portfolio.online) {
              details.onlinePortfolios.push(portfolio)
            } else {
              details.offlinePortfolios.push(portfolio)
            }
            delete portfolio.online
          })

          return details
        }
        return {}
      },
      qualifications () {
        const details = this.$store.getters['freelancer/selected']
        if (details) {
          const qualifications =
            _.cloneDeep(
              utils.orderedObjectToArray(details.qualifications)
            )
          // get the actual objects
          const objs =
            this.$store.getters['qualification/dictionary']
          // for each qualification
          _.forEach(qualifications, qualification => {
            // add category
            if (objs[qualification.id]) {
              qualification.category =
                objs[qualification.id].category
            }
            // process date
            qualification.lastCheckedAtString =
              utils.dateToString(qualification.lastCheckedAt)
          })
          return qualifications
        }
        return []
      }
    },
    created () {
      // update store selection
      this.$store.dispatch('setSelection', {
        id: this.$props.id,
        type: 'freelancer'
      })
      // request data
      this.$socket.emit(
        'fetchData',
        {
          request: 'freelancerDetails',
          ids: this.$props.id
        }
      )
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .portfolio-list {
    .url {
      width: 200px;
    }
  }
</style>
