<template>
  <div>
    <div class="from-now">
      {{ fromNowString }}
    </div>
    <div class="datetime">
      {{ dateString }}
    </div>
  </div>
</template>

<script>
  import format from 'friendly-time'
  export default {
    name: 'friendlyDate',
    props: [
      'datetime'
    ],
    computed: {
      datetimeObj () {
        return new Date(this.$props.datetime)
      },
      fromNowString () {
        if (this.datetimeObj) {
          return format(this.datetimeObj)
        }
      },
      dateString () {
        let date = new Date(this.datetimeObj)
        let string = 'undefined'
        if (typeof date === 'number') {
          date = new Date(date)
        }
        if (date) {
          string =
            date.getUTCFullYear() + '-' +
            (date.getMonth() < 10 ? '0' : '') +
            date.getMonth() + '-' +
            (date.getDate() < 10 ? '0' : '') +
            date.getDate()
        }
        return string
      }
    }
  }
</script>

<style scoped>
  .from-now {
    font-weight: bold;
  }
  .datetime {
    color: grey;
  }
</style>
