<template>
  <div
    class="item-name mx-3"
    >
    <router-link
      :to="{
        name: routeName,
        params: {
          type: this.$props.type
        }
      }"
      class="back mr-3"
      >
      <img src="@/assets/back-icon.png" alt="<"/>
      <span class="pb-2">
        browse
      </span>
    </router-link>
    <span class="name">
      {{ name }}
    </span>
  </div>
</template>

<script>
  export default {
    name: 'item-name',
    props: [
      'routeName',
      'type',
      'itemId',
      'name',
      'editable'
    ]
  }
</script>

<style lang="scss">

  @import '../base';

  .item-name {
    .back {
      font-size: 1.125em;
      font-weight: 200;
      color: $darkGrey;
      text-decoration: none;
    }
    .name {
      font-weight: 200;
      font-size: 1.625em;
    }
  }
</style>
