<template>
  <div>
    <v-tabs
      app
      slider-color="primary"
      >
      <v-tab
        v-for="(tabButton, i) in tabButtons"
        :key="i"
        :to="tabButton.to"
        >
        {{ tabButton.title }}
      </v-tab>
    </v-tabs>
    <job-brief-browser v-if="type=='job-brief'"/>
    <recruitment-browser v-if="type=='recruitment'"/>
  </div>
</template>

<script>
  import JobBriefBrowser from './JobBriefBrowser'
  import RecruitmentBrowser from './RecruitmentBrowser'

  export default {
    name: 'job-browser',
    components: {
      JobBriefBrowser,
      RecruitmentBrowser,
    },
    props: [
      'type'
    ],
    data () {
      return {
        tabButtons: [
          {
            title: 'Job Briefs',
            to: {
              name: 'Job Browser',
              params: {
                type: 'job-brief'
              }
            }
          },
          {
            title: 'Recruitment',
            to: {
              name: 'Job Browser',
              params: {
                type: 'recruitment'
              }
            }
          }
        ],
      }
    },
    computed: {
      items () {
        return this.$store.getters['jobBrief/list']
      }
    }
  }
</script>
