<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="jobs"
      hide-actions
      class="elevation-1"
    >
      <tr
        slot="items"
        slot-scope="props"
        :class="props.item._depth<=0?'group-top':''"
        >
        <template v-if="props.item._depth<=0">
          <td class="name">
            <h3>{{ props.item.name }}</h3>
            <router-link
              :to="{
                name: 'Job Details',
                params: {
                  id: props.item.id || '-',
                  type: 'job-brief'
                }
              }"
              >
              View job brief
            </router-link>
          </td>

          <!-- <td>
            <friendlyDate
              :datetime="props.item.startDate"
              />
          </td> -->
          <td class="text-xs-center">{{ props.item.status }}</td>
          <td>{{ props.item.shortDescription }}</td>
        </template>
        <template v-else>
          <td/><td/><td/>
          <!-- <td/> -->
        </template>

        <td>{{ props.item.roleName }}</td>
        <td class="text-xs-center">{{ props.item.needed }}</td>
        <td>
          <qualification
            v-for="qualification in props.item.qualifications"
            :key="qualification.key"
            :qId="qualification.id"
            :level="qualification.level"
            />
        </td>
        <td class="text-xs-center">{{ props.item.nPotential }}</td>
      </tr>
    </v-data-table>
    <v-btn
      fixed
      bottom right
      fab
      color="primary"
    >
      <v-icon>add</v-icon>
    </v-btn>
  </div>
</template>

<script>
  // import _ from 'lodash'
  import utils from '../utils'
  import Qualification from './Qualification'
  import FriendlyDate from './FriendlyDate'

  export default {
    name: 'job-brief-browser',
    components: {
      Qualification,
      FriendlyDate,
    },
    data () {
      return {
        structure: {
          id: null,
          name: null,
          status: null,
          shortDescription: null,
          startDate: null,
          roles: {
            roleId: 'id',
            roleName: 'name',
            needed: null,
            qualifications: null,
            nPotential: null,
          }
        },
        headers: [
          {
            text: 'Job',
            align: 'left',
            value: 'name'
          },
          // { text: 'Project Start', value: 'startDate' },
          {
            text: 'Brief<br>Status',
            value: 'status',
            align: 'center',
            sortable: false,
            width: '8%'
          },
          {
            text: 'Description',
            value: 'shortDescription',
            sortable: false
          },
          {
            text: 'Roles',
            value: 'roleName',
            sortable: false
          },
          {
            text: 'Needed',
            value: 'needed',
            sortable: false,
            align: 'center',
            width: '8%'
          },
          {
            text: 'Qualifications',
            value: 'qualifications',
            sortable: false
          },
          {
            text: 'Potential<br>Freelancers',
            value: 'nPotential',
            sortable: false,
            align: 'center',
            width: '8%'
          },
        ],
      }
    },
    computed: {
      jobs () {
        const jobs = this.$store.getters['jobBrief/list']
        if (jobs) {
          // convert to subbed
          let expandedItems =
            utils.convertToSubbedRows(jobs, this.structure)

          // get depthKeys
          const depthKeys = utils.structureToDepthKeys(this.structure)

          // explode
          expandedItems =
            utils.explodeCompoundRows(expandedItems, depthKeys)

          // TODO if sorting and/or filtering, do here

          // then add depths
          expandedItems =
            utils.setRowDepths(expandedItems, depthKeys)
          return expandedItems
        }
        return []
      }
    },
    methods: {
      dateToString: (date) => utils.dateToString(date)
    },
    created () {
      // request data
      this.$socket.emit(
        'fetchData',
        {request: 'jobBriefInfos'}
      )
      // update store selection
      this.$store.dispatch('setSelection', {
        id: null,
        type: 'job-brief'
      })
    },
    mounted () {
      utils.wrapHeaders(document.querySelectorAll('th'))
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
