<template>
  <v-container grid-list-md ma-0 pa-0>

    <div class="section">
      <v-layout row wrap>
        <v-flex xs1>
          <div class="section-title">Timeline</div>
        </v-flex>
        <v-flex xs3>
          <v-date-picker
            v-model="details.startDate"
            @input="(val)=>{setDate('start',val)}"
            />
        </v-flex>
        <v-flex xs1>
          <div class="section-title">To</div>
        </v-flex>
        <v-flex xs3>
          <v-date-picker
            v-model="details.endDate"
            @input="(val)=>{setDate('end',val)}"
            />
        </v-flex>
      </v-layout>

      <v-layout row wrap mt-3>
        <v-flex xs1>
          <div class="section-title">Description</div>
        </v-flex>
        <v-flex xs11>
          <vue-editor
            id="text1"
            v-model="details.description"
            />
        </v-flex>
      </v-layout>

      <v-layout row wrap mt-3>
        <v-flex xs1>
          <div class="section-title">Images</div>
        </v-flex>
        <v-flex xs3>
          <vue-dropzone
            ref="myVueDropzone"
            id="dropzone"
            :options="dropzoneOptions"
            />
          <p v-for="image in details.images" :key="image.url">
            {{ image.url }}
          </p>
        </v-flex>
      </v-layout>

    </div>
    <div class="section">

      <v-layout row wrap>
        <v-flex xs1>
          <div class="section-title">Roles</div>
        </v-flex>
        <v-flex xs11/>
        <v-flex xs12>
          <v-data-table
            :headers="headers"
            :items="details.roles"
            hide-actions
            class="elevation-1"
            >
            <tr slot="items" slot-scope="props">
              <template v-if="props.index%2==0">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-center">
                  {{ props.item.needed }}
                </td>
                <td>
                  <qualification
                    v-for="qualification in props.item.qualifications"
                    :key="qualification.id"
                    :qId="qualification.id"
                    :level="qualification.level"
                    isInline="true"
                    />
                </td>
                <td class="text-xs-center">
                  {{ props.item.nPotential }}
                </td>
              </template>
              <template v-else>
                <td/>
                <td colspan="3">
                  <vue-editor
                    :id="'desc'+props.item.idx"
                    v-model="props.item.description"
                    />
                </td>
                <td/><td/>
              </template>
            </tr>
          </v-data-table>
        </v-flex>
      </v-layout>
    </div>
    <v-layout row wrap>
      <v-flex xs2 offset-xs6>
        <v-btn color="red" block flat>delete</v-btn>
      </v-flex>
      <v-flex xs2>
        <v-btn color="grey" block>Save</v-btn>
      </v-flex>
      <v-flex xs2>
        <v-btn color="primary" block>Publish</v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { VueEditor } from 'vue2-editor'
  import _ from 'lodash'
  import utils from '../utils'
  import Qualification from './Qualification'
  import vue2Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.min.css'

  export default {
    name: 'job-brief',
    props: [
      'id'
    ],
    components: {
      VueEditor,
      Qualification,
      vueDropzone: vue2Dropzone
    },
    data () {
      return {
        headers: [
          {
            text: 'Roles',
            value: 'roles',
            width: '20%'
          },
          {
            text: 'Needed',
            value: 'needed',
            sortable: false,
            align: 'center',
            width: '8%'
          },
          {
            text: 'Qualifications',
            value: 'qualifications',
            sortable: false,
            width: '64%'
          },
          {
            text: 'Potential<br>Frelancers',
            value: 'nPotential',
            sortable: false,
            align: 'center',
            width: '8%'
          },
        ],
        dropzoneOptions: {
          url: 'https://httpbin.org/post',
          thumbnailWidth: 150,
          maxFilesize: 0.5,
          headers: {
            'My-Awesome-Header': 'header value'
          }
        }
      }
    },
    computed: {
      details () {
        let details = this.$store.getters['jobBrief/selected']
        if (details) {
          details = _.cloneDeep(details)
          // Timeline
          if (details.startDate) {
            details.startDate = utils.dateToString(details.startDate)
          }
          if (details.endDate) {
            details.endDate = utils.dateToString(details.endDate)
          }
          // Roles
          details.roles = utils.orderedObjectToArray(
            details.roles
          )
          const roles = []
          _.forEach(details.roles, (role, idx) => {
            roles.push({
              idx: idx,
              name: role.name,
              needed: role.needed,
              nPotential: role.nPotential,
              qualifications:
                utils.orderedObjectToArray(
                  role.qualifications
                )
            })
            roles.push({
              idx: idx,
              description: role.description,
            })
          })
          details.roles = roles
          return details
        }

        return {}
      },
    },
    methods: {
      setDate (type, val) {
        console.log(type, val)
      }
    },
    created () {
      // request data
      this.$socket.emit(
        'fetchData',
        {
          request: 'jobBriefDetails',
          ids: this.$props.id
        }
      )
      // update store selection
      this.$store.dispatch('setSelection', {
        id: this.$props.id,
        type: 'job-brief'
      })
    },
    mounted () {
      utils.wrapHeaders(document.querySelectorAll('th'))
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
