<template>
  <div>
    <div class="section">
      <item-name
        routeName="Job Browser"
        :type="this.$props.type"
        :itemId="id"
        :name="name"
        :editable="
          this.$props.type==='jobBrief'?
          true:
          false"
        />
    </div>
    <v-tabs
      app
      >
      <v-tab
        v-for="(tabButton, i) in tabButtons"
        :key="i"
        :to="tabButton.to"
        >
        {{ tabButton.title }}
      </v-tab>
    </v-tabs>
    <job-brief :id="id" v-if="type=='job-brief'"/>
    <recruitment :id="id" v-if="type=='recruitment'"/>
  </div>
</template>

<script>
  import JobBrief from './JobBrief'
  import Recruitment from './Recruitment'
  import ItemName from '@/components/ItemName'

  export default {
    name: 'job-details',
    components: {
      ItemName,
      JobBrief,
      Recruitment,
    },
    props: [
      'id',
      'type',
    ],
    computed: {
      name () {
        return this.$store.getters['displayedName']
      },
      tabButtons () {
        return [
          {
            title: 'Job Brief',
            to: {
              name: 'Job Details',
              params: {
                type: 'job-brief'
              }
            }
          },
          {
            title: 'Recruitment',
            to: {
              name: 'Job Details',
              params: {
                type: 'recruitment'
              }
            }
          }
        ]
      },
    },
  }
</script>
