<template>
  <img
    :src="icon"
    :class="isInactive?'isInactive':''"
    />
</template>

<script>
  export default {
    name: 'progressButton',
    props: [
      'type',
      'isInactive',
    ],
    computed: {
      icon () {
        return this.$store.getters['imageUrls'][this.$props.type]
      }
    }
  }
</script>

<style scoped>
  img {
    width: 20px;
    height: 20px;
    margin-left: 3px;
  }
  .isInactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: .5;
  }
</style>
