<template>
  <div>
    <template v-if="number<=maxIcons">
      <img
        v-for="(icon, idx) in icons"
        :key="idx"
        :src="icon"
        />
    </template>
    <template v-else>
      <img
        :src="icons[0]"
        />
      {{ 'x'+number }}
    </template>
  </div>
</template>

<script>
  export default {
    name: 'progressIconSet',
    props: [
      'type',
      'number',
      'nSlots',
      'maxIcons',
    ],
    computed: {
      icons () {
        const icons = []
        if (this.$props.number <= this.$props.maxIcons) {
          for (
            var i = 0;
            i < Math.max(this.$props.number, this.$props.nSlots);
            i++) {
            if (i < this.$props.number) {
              icons.push(
                this.$store.getters['imageUrls'][this.$props.type],
              )
            } else {
              icons.push(
                this.$store.getters['imageUrls']['slot'],
              )
            }
          }
        } else {
          icons.push(
            this.$store.getters['imageUrls'][this.$props.type],
          )
        }
        return icons
      }
    }
  }
</script>

<style scoped>
  img {
    width: 14px;
    height: 14px;
    margin-left: 3px;
  }
</style>
