<template>
  <div
    :class="[
      'qualification',
      isInline?'inline':''
    ]"
    >
    <v-chip
      v-if="details.name!==undefined"
      label
      :color="details.color"
      text-color="white"
      small
      :class="[
        'q-label',
        level!==undefined?'leveled':''
      ]"
      >
      {{ details.name }}
      <v-chip
        v-if="details.level!==undefined"
        label
        :color="details.level.color"
        :text-color="details.level.textColor"
        small
        :class="'q-level '+details.level.text"
        >
        {{ details.level.text }}
      </v-chip>
    </v-chip>
    <v-chip
      v-else-if="details.level!==undefined"
      label
      :color="details.level.color"
      :text-color="details.level.textColor"
      small
      :class="'q-level '+details.level.text"
      >
      {{ details.level.text }}
    </v-chip>
  </div>
</template>

<script>
  export default {
    name: 'qualification',
    props: [
      'qId',
      'level',
      'isClaimed',
      'isInline'
    ],
    computed: {
      details () {
        const id = this.$props.qId
        let details = {}

        if (id !== undefined) {
          details = this.$store.getters['qualification/dictionary'][id]
          if (details) {
            switch (details.category) {
              case 'programming':
                details.color = 'blue'
                break
              case 'art & design':
                details.color = 'pink'
                break
              case 'management':
                details.color = 'purple'
                break
              default:
                details.color = 'grey darken-3'
            }
          } else {
            details.name = id
          }
        }

        const level = this.$props.level
        if (level !== undefined) {
          switch (level) {
            case 0:
              details.level = {
                text: 'J',
                color: 'grey lighten-2',
                textColor: 'black',
              }
              break
            case 1:
              details.level = {
                text: 'S',
                color: 'grey darken-1',
                textColor: 'white',
              }
              break
            case 2:
              details.level = {
                text: 'E',
                color: 'black',
                textColor: 'white',
              }
              break
            default:
              details.level = undefined
          }
        }
        return details || {
          name: id
        }
      }
    }
  }
</script>

<style lang="scss">
  .inline {
    display: inline !important;
  }
  .qualification {
    .q-label {
      border-radius: 6px;
      border-width: 0;
      &.leveled {
        > .chip__content {
          padding-right: 0;
        }
      }
    }
    .q-level {
      border-radius: 6px;
      margin-right: 0;
      margin-left: 12px;
      .chip__content {
        padding-right: 9px;
        padding-left: 9px;
      }
    }
  }
</style>
