<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="roles"
      hide-actions
      class="elevation-1"
    >
      <tr
        slot="items"
        slot-scope="props"
        :class="props.item._depth<=0?'group-top':''"
        >
        <template v-if="props.item._depth<=0">
          <td>
            {{ props.item.name }}
          </td>
        </template>
        <template v-else><td/></template>

        <template v-if="props.item._depth<=1">
          <td>
            <router-link
              :to="{
                name: 'Freelancer',
                params: {
                  id: props.item.applicantId,
                  type: 'freelancer'
                }
              }"
              >
              {{ props.item.applicantName }}
            </router-link>
          </td>
        </template>
        <template v-else><td/></template>

        <td>
          <qualification
            :qId="props.item.qualificationId"
            :level="props.item.needed"
            />
        </td>
        <td>
          <qualification
            :level="props.item.claimed"
            />
        </td>
        <td>
          <qualification
            :level="props.item.confirmed"
            />
        </td>

        <template v-if="props.item._depth<=1">
          <td>
            <progressButton
              type="shortlisted"
              :isInactive="!props.item.shortlisted"
              />
          </td>
          <td>
            <progressButton
              type="signed"
              :isInactive="!props.item.signed"
              />
          </td>
          <td>
            <progressButton
              type="removed"
              :isInactive="!props.item.removed"
              />
          </td>
          <td>
            <div>
              <!-- <progressIconSet
                type="slot"
                :number="props.item.needed"
                :nSlots="props.item.needed"
                maxIcons="3"
                /> -->
            </div>
          </td>
        </template>
        <template v-else><td/><td/><td/><td/></template>
      </tr>
    </v-data-table>
  </div>
</template>

<script>
  import _ from 'lodash'
  import utils from '../utils'
  import Qualification from './Qualification'
  import ProgressButton from './ProgressButton'
  import ProgressIconSet from './ProgressIconSet'

  export default {
    name: 'recruitment',
    props: [
      'id'
    ],
    components: {
      Qualification,
      ProgressButton,
      ProgressIconSet,
    },
    data () {
      return {
        structure: {
          id: null,
          name: null,
          applicants: {
            applicantId: 'id',
            applicantName: 'name',
            isMock: null, // to mark if this is a mock freelancer
            qualifications: {
              qualificationId: 'id',
              needed: null,
              claimed: null,
              confirmed: null,
            },
            shortlisted: null,
            signed: null,
            removed: null,
            roleConfirmed: 'confirmed',
          }
        },
        headers: [
          {
            text: 'Roles',
            value: 'name',
            sortable: false
          },
          {
            text: 'Applicants',
            value: 'freelancer',
            sortable: false
          },
          {
            text: 'Qualifications Needed',
            value: 'qualificationNeeded',
            sortable: false,
          },
          {
            text: 'Claimed',
            value: 'claimed',
            sortable: false,
          },
          {
            text: 'Confirmed<br>by DA',
            value: 'confirmed',
            sortable: false,
          },
          {
            text: 'Shortlisted<br>by DA',
            value: 'shortlisted',
            sortable: false
          },
          {
            text: 'Signed',
            value: 'signed',
            sortable: false
          },
          {
            text: 'Removed',
            value: 'removed',
            sortable: false
          },
          {
            text: 'Progress',
            value: 'progress',
            sortable: false
          },
        ],
      }
    },
    computed: {
      roles () {
        const details = this.$store.getters['recruitment/selected']
        if (!details) {
          return []
        }
        const roles = details.roles
        if (roles) {
          const freelancers = this.$store.getters['freelancer/dictionary']

          // before exploding, collect relevant qualifications
          // for each role for each applicant, + needed, claimed, confirmed
          _.forEach(details.roles, role => {
            _.forEach(role.applicants, applicant => {
              // get the freelancer
              const freelancer = freelancers[applicant.id]
              // if the freelancer is not found, skip for now
              if (!freelancer) {
                return true
              }

              applicant.name = freelancer.name
              // check each qualification
              applicant.qualifications = {}
              // and check confirmation status of the role
              applicant.confirmed = true

              _.forEach(
                utils.orderedObjectToArray(role.qualifications),
                qualification => {
                  // get the owned qualification, or an empty object
                  const ownedQualification =
                    freelancer.qualifications[qualification.id] ||
                    {}
                  // create the new object by collecting the needid fields
                  const qStatus = {
                    id: qualification.id,
                    _order: qualification._order,
                    needed: qualification.level,
                    claimed: ownedQualification.claimed,
                    confirmed: ownedQualification.confirmed,
                  }

                  applicant.qualifications[qualification.id] = qStatus
                  // check confirmation status of the role
                  if (
                    applicant.confirmed &&
                    (
                      !qStatus.confirmed ||
                      qStatus.needed < qStatus.confirmed
                    )
                  ) {
                    applicant.confirmed = false
                  }
                }
              )
            })
            // if there are no applicants yet, create a mock entry
            if (
              !role.applicants ||
              _.keys(role.applicants).length === 0) {
              const qualifications = {}
              _.forEach(
                utils.orderedObjectToArray(role.qualifications),
                qualification => {
                  qualifications[qualification.id] = {
                    id: qualification.id,
                    _order: qualification._order,
                    needed: qualification.level,
                  }
                }
              )
              role.applicants.mock = {
                isMock: true,
                _order: 0,
                qualifications
              }
            }
          })

          // convert to subbed
          let expandedItems =
            utils.convertToSubbedRows(roles, this.structure)

          // get depthKeys
          const depthKeys = utils.structureToDepthKeys(this.structure)

          // explode
          expandedItems =
            utils.explodeCompoundRows(expandedItems, depthKeys)

          // TODO if sorting and/or filtering, do here

          // then add depths
          expandedItems =
            utils.setRowDepths(expandedItems, depthKeys)

          return expandedItems
        }
        return []
      }
    },
    created () {
      // request data
      this.$socket.emit(
        'fetchData',
        {
          request: 'recruitmentDetails',
          ids: this.$props.id
        }
      )
      // update store selection
      this.$store.dispatch('setSelection', {
        id: this.$props.id,
        type: 'recruitment'
      })
    },
    mounted () {
      utils.wrapHeaders(document.querySelectorAll('th'))
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
