<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="jobs"
      hide-actions
      class="elevation-1"
    >
      <tr
        slot="items"
        slot-scope="props"
        :class="props.item._depth<=0?'group-top':''"
        >
        <template v-if="props.item._depth<=0">
          <td class="name">
            <h3>{{ props.item.name }}</h3>
            <router-link
              :to="{
                name: 'Job Details',
                params: {
                  id: props.item.id || '-',
                  type: 'recruitment'
                }
              }"
              >
              View recruitment details
            </router-link>
          </td>
        <td class="text-xs-center">
          <friendlyDate
          :datetime="props.item.startDate"
          />
        </td>
        </template>
        <template v-else>
          <td></td>
          <td></td>
        </template>

        <td>{{ props.item.roleName }}</td>

        <td>
          <progressIconSet
            type="slot"
            :number="props.item.needed"
            :nSlots="props.item.needed"
            maxIcons="3"
            />
        </td>
        <td>
          <progressIconSet
            type="applicant"
            :number="props.item.nApplicants"
            :nSlots="props.item.needed"
            maxIcons="3"
            />
        </td>
        <td>
          <progressIconSet
            type="confirmed"
            :number="props.item.confirmed.length"
            :nSlots="props.item.needed"
            maxIcons="3"
            />
        </td>
        <td>
          <progressIconSet
            type="shortlisted"
            :number="props.item.shortlisted.length"
            :nSlots="props.item.needed"
            maxIcons="3"
            />
        </td>
        <td>
          <progressIconSet
            type="signed"
            :number="props.item.signed.length"
            :nSlots="props.item.needed"
            maxIcons="3"
            />
        </td>
      </tr>
    </v-data-table>
  </div>
</template>

<script>
  import _ from 'lodash'
  import utils from '../utils'
  import Qualification from './Qualification'
  import FriendlyDate from './FriendlyDate'
  import ProgressIconSet from './ProgressIconSet'

  export default {
    name: 'recruitment-browser',
    components: {
      Qualification,
      FriendlyDate,
      ProgressIconSet,
    },
    data () {
      return {
        structure: {
          id: null,
          name: null,
          startDate: null,
          roles: {
            roleId: 'id',
            roleName: 'name',
            needed: null,
            qualifications: null,
            applicants: null,
          }
        },
        headers: [
          {
            text: 'Job',
            align: 'left',
            value: 'name'
          },
          {
            text: 'Project Start',
            value: 'startDate',
            align: 'center',
            width: '11%'
          },
          {
            text: 'Roles',
            value: 'role',
            sortable: false
          },
          {
            text: 'Needed',
            value: 'needed',
            sortable: false,
            width: '11%'
          },
          {
            text: 'Applicants',
            value: 'applicants',
            sortable: false,
            width: '11%'
          },
          {
            text: 'Qualifications.<br>Confrmd. by DA',
            value: 'confirmed',
            sortable: false,
            width: '11%'
          },
          {
            text: 'Shortlisted<br>by DA',
            value: 'shortlisted',
            sortable: false,
            width: '11%'
          },
          {
            text: 'Signed',
            value: 'signed',
            sortable: false,
            width: '11%'
          },
        ],
      }
    },
    computed: {
      jobs () {
        const jobs = this.$store.getters['recruitment/list']
        if (jobs) {
          const freelancers = this.$store.getters['freelancer/dictionary']
          // convert to subbed
          let expandedItems =
            utils.convertToSubbedRows(jobs, this.structure)

          // get depthKeys
          const depthKeys = utils.structureToDepthKeys(this.structure)

          // explode
          expandedItems =
            utils.explodeCompoundRows(expandedItems, depthKeys)

          // process applicants
          _.forEach(expandedItems, (role, idx) => {
            role.nApplicants = 0
            role.shortlisted = []
            role.signed = []

            _.forEach(role.applicants, applicant => {
              role.nApplicants++
              // collect shortlisted
              if (applicant.shortlisted) {
                role.shortlisted.push(applicant.id)
              }
              // collect signed
              if (applicant.signed) {
                role.signed.push(applicant.id)
              }
            })

            // check and collect confirmed
            role.confirmed = []

            _.forEach(role.applicants, (app, appId) => {
              let confirmed = true

              _.forEach(role.qualifications, qualification => {
                const freelancerQualification =
                  _.get(
                    freelancers[appId],
                    ['qualifications', qualification.id]
                  )
                if (
                  !freelancerQualification ||
                  freelancerQualification.confirmed <
                  qualification.level) {
                  confirmed = false
                  return false
                }
              })
              if (confirmed) {
                role.confirmed.push(appId)
                app.confirmed = true
              }
            })
          })

          // TODO if sorting and/or filtering, do here

          // then add depths
          expandedItems =
            utils.setRowDepths(expandedItems, depthKeys)

          return expandedItems
        }
        return []
      }
    },
    created () {
      // request data
      this.$socket.emit(
        'fetchData',
        {request: 'recruitmentInfos'}
      )
      // update store selection
      this.$store.dispatch('setSelection', {
        id: null,
        type: 'recruitment'
      })
    },
    mounted () {
      utils.wrapHeaders(document.querySelectorAll('th'))
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
