<template>
  <v-navigation-drawer
    persistent
    :mini-variant="miniVariant"
    v-model="drawer"
    enable-resize-watcher
    fixed
    app
    class="px-0"
    width="150"
  >
    <nav
      class="px-0"
      >
      <router-link
        :to="{
          name: 'Job Browser',
          params: {
            type: 'job-brief'
          }
        }"
        id="home-logo"
        class="ma-3"
      >
        <img src="@/assets/logo-main.png" alt="Koralin"/>
      </router-link>
      <router-link
        v-for="(navButton, i) in navButtons"
        :key="i"
        :to="navButton.to"
        :class="[
          'mx-0','my-1','py-2',
          navButton.isActive?'active':''
          ]"
      >
        <v-icon
          :class="['ml-3','mr-2',]"
          >
          {{ navButton.icon }}
        </v-icon>
        {{ navButton.title }}
      </router-link>
    </nav>
  </v-navigation-drawer>
</template>

<script>
  import _ from 'lodash'

  export default {
    name: 'sidebar',
    data () {
      return {
        drawer: true,
        pages: {
          'job-brief': {
            icon: 'folder_open',
            title: 'Jobs Briefs',
            to: {
              name: 'Job Browser',
              params: {
                type: 'job-brief'
              }
            },
            items: []
          },
          'recruitment': {
            icon: 'folder_shared',
            title: 'Recruitment',
            to: {
              name: 'Job Browser',
              params: {
                type: 'recruitment'
              }
            },
            items: []
          },
          'freelancer': {
            icon: 'group',
            title: 'Freelancers',
            to: {
              name: 'Freelancer Browser'
            },
            items: []
          }
        },
        pageOrder: [
          'job-brief',
          'recruitment',
          'freelancer',
        ],
        miniVariant: false,
      }
    },
    computed: {
      navButtons () {
        const selection = this.$store.getters['selection']
        const pages = _.cloneDeep(this.pages)

        if (selection && selection.id) {
          pages[selection.type].items.push({
            title: this.$store.getters['displayedName'],
            isActive: true,
            to: {
              name: 'Job Browser',
              params: {
                type: 'job-brief'
              }
            }
          })
        }

        const navButtons = []
        this.pageOrder.map(pageType => {
          const navButton = pages[pageType]
          navButtons.push(
            navButton
          )
          navButtons.push(
            ...navButton.items
          )
        })
        return navButtons
      },
      link () {
        const selection = this.$store.getters['selection']
        if (selection) {
          return selection.type
        }
      }
    }
  }
</script>

<style lang="scss">

  @import '../base';

  .navigation-drawer {
    background-color: $lightGrey !important;
    #home-logo {
      background-color: transparent;
    }
    a {
      display: block;
      width: 100%;
      text-transform: none;
      text-decoration: none;
      font-weight: 500;
      color: $darkGrey;
      &:hover {
        background-color: white;
      }
      &.router-link-active{
        background-color: white;
        color: $primary;
        i {
          color: $primary;
        }
      }
      &.active{
        background-color: white;
        color: $primary;
        i {
          color: $primary;
        }
      }
    }
  }
</style>
