<template>
  <v-app>
    <vue-headful
        :title="docTitle"
    />
    <sidebar/>
    <v-content id="main-content">
      <v-container fluid  pa-0>
        <router-view/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import Sidebar from './components/Sidebar'
  import VueHeadful from 'vue-headful'

  export default {
    name: 'app',
    components: {
      Sidebar,
      'vue-headful': VueHeadful,
    },
    computed: {
      docTitle () {
        const appName = this.$store.getters['appName']
        const selection = this.$store.getters['selection']

        let title = appName
        let type
        switch (selection.type) {
          case 'job-brief':
            type = 'Job Brief'
            break
          case 'recruitment':
            type = 'Recruitment'
            break
          case 'freelancer':
            type = 'Freelancer'
            break
        }

        // if browsing
        if (!selection.id) {
          title = type + 's'
        } else {
          // else if displaying a selection
          title += ' (' + this.$store.getters['displayedName'] + ')'
        }

        title += ' - ' + appName

        return title
      }
    },
    methods: {
      async start () {
        // fill mock data
        // await sequelize.initModels()
        //   .catch((err) => console.log(err))
      }
    },
    created () {
      // do something after creating vue instance
      this.start()

      // create listener
      this.$options.sockets.sendData = (response) => {
        // console.log(JSON.stringify(response, undefined, 2))
        // if there's a response data
        if (response.data) {
          // tell module to load the data
          switch (response.request) {
            // JOB BRIEF
            case 'jobBriefInfos':
              this.$store.dispatch(
                'jobBrief/setAllData',
                response.data.jobBriefs
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break

            case 'jobBriefDetails':
              this.$store.dispatch(
                'jobBrief/setData',
                response.data.jobBriefs
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break

            // RECRUITMENT
            case 'recruitmentInfos':
              this.$store.dispatch(
                'recruitment/setAllData',
                response.data.recruitments
              )
              this.$store.dispatch(
                'freelancer/setData',
                response.data.freelancers
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break

            case 'recruitmentDetails':
              this.$store.dispatch(
                'recruitment/setData',
                response.data.recruitments
              )
              this.$store.dispatch(
                'freelancer/setData',
                response.data.freelancers
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break

            // FREELANCER
            case 'freelancerInfos':
              this.$store.dispatch(
                'freelancer/setAllData',
                response.data.freelancers
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break

            case 'freelancerDetails':
              this.$store.dispatch(
                'freelancer/setData',
                response.data.freelancers
              )
              this.$store.dispatch(
                'qualification/setData',
                response.data.qualifications
              )
              break
            default:
          }
        }
      }
    },
    destroyed () {
      // remove listener
      delete this.$options.sockets.sendData
    }
  }
</script>

<style lang="scss">

  @import 'base';

  #main-content {
    background: $lightGrey;
  }

  .section {
    border-bottom: 1px solid #cccccc;
    padding: $spacer*4 0;
  }
  .section-title {
    padding-left: $spacer*3;
    margin-bottom: $spacer*3;
    font-size: 0.75em;
    color: $darkGrey;
    text-transform: uppercase;
  }

  a {
    font-size: 1em;
    font-weight: normal;
    color: grey !important;
    text-decoration-color: $primary;
  }

  .datatable {
    thead {
      text-transform: uppercase;
      font-size: 1em;
      th {
        background: $lightGrey;
      }
    }
    tr:not(:last-child) {
      border-bottom: 0 !important;
    }
    .group-top {
      border-top: 1px solid #cccccc;
    }
    tr:nth-child(even) {
      background: $lightGrey;
    }
    tr:nth-child(odd) {
      background: white;
    }
    tr {
      td {
        vertical-align: top;
        padding-top: .6em !important;
        padding-bottom: .6em !important;
      }
      .name {
        h3 {
          font-size: 1.2em;
          font-weight: normal;
          color: black;
        }
      }
    }
  }
</style>
